body {
  font-family: "Roboto";
}

#mapbox-map,
.infoContainer {
  margin: 25px;
  border: 2px solid black;
  color: #222;
  background-color: #fff;
  border-radius: 3px;
  padding: 5px;
  position: relative;
}

#mapbox-map {
  position: absolute;
  height: 700px;
  width: 95%;
  margin-bottom: 90px;
  z-index: -10;
}
.infoContainer {
  position: absolute;
  width: 30%;
}

#locPopup {
  font-family: "Roboto";
}
