body {
  font-family: "Roboto";
}

#mapbox-map,
.sliderContainer {
  position: absolute;
  width: 95%;
  margin: 25px;
}

#mapbox-map {
  height: 700px;
  margin-bottom: 90px;
}
.sliderContainer {
  padding: 5px;
  width: 30%;
  border: 2px solid black;
  font-size: 14px;
  color: #222;
  background-color: #fff;
  border-radius: 3px;
}

#locPopup {
  font-family: "Roboto";
}


